{% extends 'Basefile/ehomebase.html' %} {% load static %} {% block title %} Blog
{% endblock %} {%block metadescription %}
<meta name="tittle" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %}

<section class="blog-page section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card blog mb-4">
          <div class="blog-header">
            <a href="{% url 'blogdetail' %}"
              ><img
                class="card-img-top"
                src="/static/ehome/img/blog/1.jpg"
                alt="Card image cap"
            /></a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'blogdetail' %}">Green Vegitables.</a>
            </h5>
            <div class="entry-meta">
              <ul class="tag-info list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="mdi mdi-calendar"></i> March 6, 2018</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-folder"></i>
                  <a rel="category tag" href="#">Image</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-tag"></i> <a rel="tag" href="#">sale</a>,
                  <a rel="tag" href="#">shop</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-comment-account-outline"></i>
                  <a href="#">4 Comments</a>
                </li>
              </ul>
            </div>
            <p class="card-text">
              Aliquam convallis sollicitudin purus. Praesent aliquam, enim at
              fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh
              nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo.
              Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat
              imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus
              rutrum augue. Nulla tincidunt tincidunt mi. Lorem ipsum dolor
            </p>
            <a href="{% url 'blogdetail' %}"
              >READ MORE <span class="mdi mdi-chevron-right"></span
            ></a>
          </div>
        </div>
        <div class="card blog mb-4">
          <div class="blog-header">
            <a href="{% url 'blogdetail' %}"
              ><img
                class="card-img-top"
                src="/static/ehome/img/blog/2.jpg"
                alt="Card image cap"
            /></a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'blogdetail' %}php">Grocery Store.</a>
            </h5>
            <div class="entry-meta">
              <ul class="tag-info list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="mdi mdi-calendar"></i> March 6, 2018</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-folder"></i>
                  <a rel="category tag" href="#">Image</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-tag"></i> <a rel="tag" href="#">sale</a>,
                  <a rel="tag" href="#">shop</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-comment-account-outline"></i>
                  <a href="#">4 Comments</a>
                </li>
              </ul>
            </div>
            <p class="card-text">
              Aliquam convallis sollicitudin purus. Praesent aliquam, enim at
              fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh
              nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo.
              Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat
              imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus
              rutrum augue. Nulla tincidunt tincidunt mi. Lorem ipsum dolor
            </p>
            <a href="{% url 'blogdetail' %}"
              >READ MORE <span class="mdi mdi-chevron-right"></span
            ></a>
          </div>
        </div>
        <div class="card blog mb-4">
          <div class="blog-header">
            <a href="{% url 'blogdetail' %}"
              ><img
                class="card-img-top"
                src="/static/ehome/img/blog/3.jpg"
                alt="Card image cap"
            /></a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'blogdetail' %}">Fresh Fruits.</a>
            </h5>
            <div class="entry-meta">
              <ul class="tag-info list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="mdi mdi-calendar"></i> March 6, 2018</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-folder"></i>
                  <a rel="category tag" href="#">Image</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-tag"></i> <a rel="tag" href="#">sale</a>,
                  <a rel="tag" href="#">shop</a>
                </li>
                <li class="list-inline-item">
                  <i class="mdi mdi-comment-account-outline"></i>
                  <a href="#">4 Comments</a>
                </li>
              </ul>
            </div>
            <p class="card-text">
              Aliquam convallis sollicitudin purus. Praesent aliquam, enim at
              fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh
              nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo.
              Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat
              imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus
              rutrum augue. Nulla tincidunt tincidunt mi. Lorem ipsum dolor
            </p>
            <a href="{% url 'blogdetail' %}"
              >READ MORE <span class="mdi mdi-chevron-right"></span
            ></a>
          </div>
        </div>
        <ul class="pagination justify-content-center mt-4">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item">
            <a href="#" class="page-link">Next</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="card sidebar-card mb-4">
          <div class="card-body">
            <div class="input-group">
              <input
                type="text"
                placeholder="Search For"
                class="form-control"
              />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary">
                  Search <i class="mdi mdi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card sidebar-card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Categories</h5>
            <ul class="sidebar-card-list">
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right">Fruits & Vegetables</i></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right">Home & Kitchen</i></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right">Personal Care</i></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right">Breakfast & Dairy</i></a
                >
              </li>
              <li>
                <a href="#"><i class="mdi mdi-chevron-right">Pet Care</i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card sidebar-card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Archives</h5>
            <ul class="sidebar-card-list">
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right"></i> August, 2022</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right"></i> September, 2022</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="mdi mdi-chevron-right"></i> October, 2022</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="card sidebar-card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Tags</h5>
            <div class="tagcloud">
              <a class="tag-cloud-link" href="#">coupon</a>
              <a class="tag-cloud-link" href="#">deals</a>
              <a class="tag-cloud-link" href="#">discount</a>
              <a class="tag-cloud-link" href="#">shop</a>
              <a class="tag-cloud-link" href="#">stores</a>
            </div>
          </div>
        </div>
        <div class="card sidebar-card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-4">Newsletter</h5>
            <div class="input-group">
              <input
                type="text"
                placeholder="Your email address"
                class="form-control"
              />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary">
                  Sign up <i class="mdi mdi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card sidebar-card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Meta</h5>
            <ul class="sidebar-card-list">
              <li>
                <a href="#"><i class="mdi mdi-chevron-right"></i> Log in</a>
              </li>
              <li>
                <a href="#"><i class="mdi mdi-chevron-right"></i> Reveiw</a>
              </li>
              <li>
                <a href="#"><i class="mdi mdi-chevron-right"></i> Comments</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding bg-white border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="feature-box">
          <i class="mdi mdi-truck-fast"></i>
          <h6>Free & Next Day Delivery</h6>
          <p>Lorem ipsum dolor sit amet, cons...</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="feature-box">
          <i class="mdi mdi-basket"></i>
          <h6>100% Satisfaction Guarantee</h6>
          <p>Rorem Ipsum Dolor sit amet, cons...</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="feature-box">
          <i class="mdi mdi-tag-heart"></i>
          <h6>Great Daily Deals Discount</h6>
          <p>Sorem Ipsum Dolor sit amet, Cons...</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
