{% extends 'Basefile/ehomebase.html' %} {% load static %} {% block title %} Home
{% endblock %} {%block metadescription %}
<meta name="tittle" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %}
<section class="osahan-carousel-two border-top py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="category-list-sidebar">
          <div class="category-list-sidebar-header">
            <button
              class="btn btn-link badge-success"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              All Categories <i class="mdi mdi-menu" aria-hidden="true"></i>
            </button>
          </div>
          <div class="collapse show" id="collapseExample">
            <div class="category-list-sidebar-body">
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/1.jpg"
                      alt=""
                    />
                    <h6>Fruits & Vegetables</h6>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/2.jpg"
                      alt=""
                    />
                    <h6>Grocery & Staples</h6>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/3.jpg"
                      alt=""
                    />
                    <h6>Beverages</h6>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/8.jpg"
                      alt=""
                    />
                    <h6>Breakfast & Dairy</h6>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/9.jpg"
                      alt=""
                    />
                    <h6>Biscuits, Snacks & Chocolates</h6>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/10.jpg"
                      alt=""
                    />
                    <h6>Noodles, Sauces & Instant Food</h6>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="sidebar-category-item">
                  <a href="{% url 'shop' %}">
                    <img
                      class="img-fluid"
                      src="/static/ehome/img/small/12.jpg"
                      alt=""
                    />
                    <h6>Meats, Frozen & Seafood</h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="carousel-slider-main text-center">
          <div
            class="owl-carousel owl-carousel-slider rounded overflow-hidden shadow-sm"
          >
            <div class="item">
              <a href="{% url 'shop' %}"
                ><img
                  class="img-fluid"
                  src="/static/ehome/img/slider/1.png"
                  alt="First slide"
              /></a>
            </div>
            <div class="item">
              <a href="{% url 'shop' %}"
                ><img
                  class="img-fluid"
                  src="/static/ehome/img/slider/2.png"
                  alt="First slide"
              /></a>
            </div>
            <div class="item">
              <a href="{% url 'shop' %}"
                ><img
                  class="img-fluid"
                  src="/static/ehome/img/slider/3.png"
                  alt="First slide"
              /></a>
            </div>
            <div class="item">
              <a href="{% url 'shop' %}"
                ><img
                  class="img-fluid"
                  src="/static/ehome/img/slider/4.png"
                  alt="First slide"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product-items-slider section-padding">
  <div class="container">
    <div class="section-header">
      <h5 class="heading-design-h5">
        Top Savers Today <span class="badge badge-success">20-30% OFF</span>
        <a class="float-right text-secondary" href="{% url 'shop' %}"
          >View All</a
        >
      </h5>
    </div>
    <div class="row">
      {% for t in Top_Savers_Today %}
      <div class="col-md-3 col-xs-12 mb-4">
        <div class="product">
          <a href="{% url 'productdetail' t.id %}">
            <div class="product-header">
              <span class="badge badge-success">50% OFF</span>
              <img class="img-fluid" src="{{t.product_img.url}}" alt="" />
              <span class="veg text-success mdi mdi-circle"></span>
            </div>
            <div class="product-body">
              <h5>{{t.product_title}}</h5>
              <h6>
                <strong
                  ><span class="mdi mdi-approval"></span> Available in</strong
                >
                - {{t.product_avail}} gm
              </h6>
            </div>
            <div class="product-footer">
              <p class="offer-price mb-0">
                &#8377; {{t.discounted_price}}
                <i class="mdi mdi-tag-outline"></i>
                <span class="regular-price">&#8377; {{t.selling_price}}</span>
              </p>
              <button type="button" class="btn btn-secondary btn-sm">
                <i class="mdi mdi-cart-outline"></i> Add To Cart
              </button>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="offer-product">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6">
        <a href="{% url 'shop' %}"
          ><img class="img-fluid" src="/static/ehome/img/ad1.jpg" alt=""
        /></a>
      </div>
      <div class="col-md-6">
        <a href="{% url 'shop' %}"
          ><img class="img-fluid" src="/static/ehome/img/add2.jpg" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>

<section class="product-items-slider section-padding">
  <div class="container">
    <div class="section-header">
      <h5 class="heading-design-h5">
        Best Offers View <span class="badge badge-info">20% OFF</span>
        <a class="float-right text-secondary" href="{% url 'shop' %}"
          >View All</a
        >
      </h5>
    </div>
    <div class="owl-carousel owl-carousel-featured">
      {% for b in Best_Offer %}
      <div class="item">
        <div class="product">
          <a href="{% url 'productdetail' b.id %}">
            <div class="product-header">
              <span class="badge badge-success">50% OFF</span>
              <img class="img-fluid" src="{{b.product_img.url}}" alt="" />

              <span class="veg text-success mdi mdi-circle"></span>
            </div>
            <div class="product-body">
              <h5>{{ b.product_title }}</h5>
              <h6>
                <strong
                  ><span class="mdi mdi-approval"></span> Available in</strong
                >
                - {{ b.product_avail }} gm
              </h6>
            </div>
            <div class="product-footer">
              <p class="offer-price mb-0">
                &#8377; {{ b.discounted_price }}
                <i class="mdi mdi-tag-outline"></i>
                <span class="regular-price">&#8377; {{ b.selling_price }}</span>
              </p>
              <button type="button" class="btn btn-secondary btn-sm">
                <i class="mdi mdi-cart-outline"></i> Add To Cart
              </button>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-padding bg-white border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="feature-box">
          <i class="mdi mdi-truck-fast"></i>
          <h6>Free & Next Day Delivery</h6>
          <p>Lorem ipsum dolor sit amet, cons...</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="feature-box">
          <i class="mdi mdi-basket"></i>
          <h6>&#8377; 100% Satisfaction Guarantee</h6>
          <p>Rorem Ipsum Dolor sit amet, cons...</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="feature-box">
          <i class="mdi mdi-tag-heart"></i>
          <h6>Great Daily Deals Discount</h6>
          <p>Sorem Ipsum Dolor sit amet, Cons...</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
