{% extends 'Basefile/ehomebase.html' %} {% load static %} {% block title %}
Password Changed Successfully! {% endblock %} {%block metadescription %}
<meta name="tittle" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block body %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome Akhil</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}" class="btn btn-primary"
            >Change Password Done</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Password Change Succssfully !!</h3>
      <div>
        <iframe
          src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"
          width="200"
          height="200"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock %}
